@{
    ViewData["Title"] = "Payment Success";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="~/css/cart.css" />

<div class="container-cart" style="text-align: center;">
    <h1 class="cart-title">Payment Successful!</h1>

    <p style="font-size: 1.2rem; margin-top: 20px;">
        Your order has been placed successfully.
    </p>

    <p style="font-size: 1.1rem; color: var(--primary-color);">
        <strong>Order ID:</strong> @ViewBag.OrderId
        </br>
        <strong>Order status:</strong> @ViewBag.OrderStatus
        </br>
        <strong>Table number:</strong> @ViewBag.TableNumber
    </p>

    <a href="@Url.Action("Index", "Product")" class="checkout-btn" style="margin-top: 25px; text-decoration: none;">
        Back to Menu
    </a>
</div>
